header{
    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2vw;
  
  z-index: 999;    height: 60px;
    display: flex;
    align-items: center;justify-content: space-between;
    gap: 20px;
  
     text-decoration: none;
     background-color:#ff131d;
    img{
        height: 50px;
        
    }
   nav{
        
        width: 60%;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
          
        }
    }
}