header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;justify-content: start;
    gap: 20px;
    background: #d9b218;
background: linear-gradient(90deg, rgba(217, 178, 24, 1) 0%, rgba(247, 210, 141, 1) 65%, rgba(255, 255, 255, 1) 100%);
    text-decoration: none;
    img{
        height: 50px;
        
    }
   nav{
        
        width: 25%;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
          
        }
    }
}