header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;justify-content: start;
    gap: 20px;
     text-decoration: none;
     background-color:#ff131d;
    img{
        height: 50px;
        
    }
   nav{
        
        width: 25%;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
          
        }
    }
}